<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Professores</title>
		</head>
	<body>
		<h1>Formulário de Inclusão de Professores</h1>
		<section>
			<% if(erros) { %>
				<ul>
					<% for(let i = 0; i < erros.length; i++){ %>
						<li>
							<%= erros[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form action="/professor/salvar" method="post">
			<input type="text" name="nome" placeholder="Digite o nome do professor" value="<%= professor.nome %>"><br />
			<input type="text" name="titulacao" placeholder="titulacao" value="<%= professor.titulacao %>"><br />
			<input type="submit" value="enviar"><br />
		</form>
	</body>
</html>