<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Conteudo</title>
		</head>
	<body>
		<h1>Formulário de Inclusão de Conteudo</h1>
		<section>
			<% if(erros) { %>
				<ul>
					<% for(let i = 0; i < erros.length; i++){ %>
						<li>
							<%= erros[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form action="/conteudo/salvar" method="post">
			<input type="text" name="conteudo" placeholder="Digite o nome do conteudo" value="<%= conteudo.conteudo %>"><br />
			<input type="date" name="dataconteudo" placeholder="Data do Conteudo"  value="<%= conteudo.dataconteudo %>"><br />
			<input type="submit" value="enviar"><br />
		</form>
	</body>
</html>