<!DOCTYPE html>
<html>

<head>
    <title>Disciplina Desenvolvimento de Sistemas Web</title>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #5f5757;
        }

        h1 {
            text-align: center;
            background-color: rgb(12, 180, 96);
            color: white;
        }

        button {
            background-color: #b9243d;
            ;
        }

        form {
            margin-right: 30%;
            margin-left: 30%;
        }
    </style>
</head>

<body>
    <h1>Rota Professores</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Titulacao</td>
        </tr>
        <% for(let i=0;i<professores.length;i++){ %>
        <tr>
            <td><%= professores[i].idprofessor %></td>
            <td><%= professores[i].nome %></td>
            <td><%= professores[i].titulacao %></td>
        </tr>
        <% } %>
    </table>

</body>

</html>